    .div{
         
        text-align: center;
        width: 100%;
        height: 100vh;
        background-image: url( https://img.freepik.com/free-vector/e-commerce-background-design_1223-90.jpg?size=626&ext=jpg&ga=GA1.1.1042361052.1725876053&semt=ais_hybrid);
    }
  

    